header {
  background-color: #fcf9f9;
  padding: 5px 20px 10px 20px;
  margin-bottom: 10px;
}
form {
  display: block;
  margin: auto;
  box-sizing: border-box;
  width: fit-content;
}

button {
  display: block;
  margin: auto;
  box-sizing: border-box;
  margin-top: 5px;
  padding: 1px 85px;
}
button:hover {
  border: solid 3px gray;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
li:first-letter {
  text-transform: capitalize;
}
a {
  text-decoration: none;
}
.active {
  color: black;
  cursor: default;
  font-weight: bold;
}
.active:hover {
  color: black;
}

footer {
  font-size: x-small;
  text-align: center;
}
.app {
  max-width: 500px;
  border: solid 1px black;
  display: block;
  margin: 30px auto 5px auto;
  padding: 20px;
  font-family: "JetBrains Mono", monospace;
}

.icon {
  color: gray;
}
.col-4 {
  display: block;
  margin: 0 auto;
  font-size: 20px;
  color: black;
  padding-top: 20px;
}

.col-2 {
  display: block;
  margin: 0 auto;
  border: solid 1px gray;
  padding: 30px 5px;
  background-color: #fcf9f9;
}

.col-2:hover {
  border: solid 1px gray;
}

.weekcast {
  text-align: center;
}
.forecast-temperature-max {
  color: black;
}
.forecast-temperature-min {
  color: darkgray;
}
#current-temp {
  font-size: 40px;
}
